
    <title>Home</title>
</head>
<body>
    <div class="ui container">
      <div class="ui labeled icon menu" id="you can remove, compact, labeled">
        <div class="item">
          <i class="home icon"></i>Home
        </div>
        <div class="item">
          <i class="info icon"></i>
          <a href="#">About</a>
        </div>
        <div class="item">
          <i class="users icon"></i>
          <a href="#">Services</a>
        </div>
        <div class="right item">
          <i class="sign in icon"></i>
          <a href="/login">Sign-In</a>
        </div>
        <div class="item">
            <i class="user secret icon"></i>
          <a href="/register">Sign-Up</a>
        </div>
      </div>
    </div>

    <hr>
    <div class="ui container">
        <div class="ui two column grid">
            <div class="column">
                <div class="ui raised segment">
                    <a class="ui green ribbon label">Contact</a>
                    <ul>
                        <li>Cell: +2778 123 4567</li>
                        <li>Tel: +27(021) 123 4567</li>
                    </ul>
                    <a class="ui red ribbon label">Email</a>
                    <ul>
                        <li>King:
                            <a href="mailto:tblar84@gmail.com?Subject=Online%20Order" target="_top">tblar84@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="ui segment">
                    <a class="ui blue right ribbon label">Facebook</a>
                    <ul>
                        <li>
                            <i class="facebook square icon"></i>
                            <a target="_blank" href="https://www.facebook.com/">Follow Us</a>
                        </li>
                        <li>
                            <i class="facebook icon"></i>
                            <a target="_blank" href="https://www.facebook.com/notifications">Like our Page</a>
                        </li>
                    </ul>
                    <a class="ui teal right ribbon label">Twitter</a>
                    <ul>
                        <li>
                            <i class="twitter icon"></i>
                            <a target="_blank" href="https://www.twitter.com/">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>

</body>

</html>
