</head>

<body>
    <hr>
    <hr>
    <div class="ui middle aligned center aligned container">
        <h4 align="center" class="ui teal header">Register New Account</h4>

        <form class="ui form" method="POST">
            <div class="ui piled segment">
                <h4 class="ui dividing header">User Information</h4>

                <div class="field">
                    <label>Name</label>
                    <div class="two fields">
                        <div class="field">
                            <input type="text" name="firstName" value="Thabang" placeholder="First Names">
                        </div>
                        <div class="field">
                            <input type="text" name="lastName" value="Gideon" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Contact Details</label>
                    <div class="fields">
                        <div class="eight wide field">
                            <input type="email" name="email" value="gideon877@live.com" placeholder="Email Address">
                        </div>
                        <div class="eight wide field">
                            <input type="text" name="cell" value="27824521234" placeholder="Phone Numbers">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Login Details</label>
                    <div class="fields">
                        <div class="six wide field">
                            <input type="text" name="username" value="gideon877" placeholder="Username">
                        </div>
                        <div class="six wide field">
                            <input type="password" name="password" value="1234" placeholder="Password">
                        </div>
                        <div class="six wide field">
                            <input type="password" name="password_retype" value="1234" placeholder="RE-TYPE Password">
                        </div>
                    </div>
                </div>
                <button class="ui large primary basic button" tabindex="0">Submit</button>
                <div class="ui message">
                    Already have account? <a href="/login">Sign In</a>
                </div>
            </div>
        </form>
    </div>
</body>
